In [58]:
import pandas as pd

In [59]:
df1=pd.read_csv('Apple.csv')
df1.head()

         Date      High       Low      Open     Close       Volume  Adj Close
0  2000-01-03  4.017857  3.631696  3.745536  3.997768  133949200.0   2.665724
1  2000-01-04  3.950893  3.613839  3.866071  3.660714  128094400.0   2.440975
2  2000-01-05  3.948661  3.678571  3.705357  3.714286  194580400.0   2.476697
3  2000-01-06  3.821429  3.392857  3.790179  3.392857  191993200.0   2.262367
4  2000-01-07  3.607143  3.410714  3.446429  3.553571  115183600.0   2.369532

In [60]:
date=df1['Date']
close=df1['Close']

In [61]:
#creat new column of the same size 
change=[0]*len(date)
momentum=[0]*len(date)

In [62]:
#calculate momentum and change
for i in range(1,len(date)):
    if close[i]>close[i-1]:
        momentum[i]='1'
        change[i]=(close[i]-close[i-1])/close[i-1]
    else:
        momentum[i]='0'
        change[i]=(close[i-1]-close[i])/close[i-1]

In [63]:
df1['Change']=change
df1['Momentum']=momentum
df1.head()

,Date,High,Low,Open,Close,Volume,Adj Close,Change,Momentum
0,2000-01-03,4.017857,3.631696,3.745536,3.997768,133949200.0,2.665724,0.000000,0
1,2000-01-04,3.950893,3.613839,3.866071,3.660714,128094400.0,2.440975,0.084310,0
2,2000-01-05,3.948661,3.678571,3.705357,3.714286,194580400.0,2.476697,0.014634,1
3,2000-01-06,3.821429,3.392857,3.790179,3.392857,191993200.0,2.262367,0.086538,0
4,2000-01-07,3.607143,3.410714,3.446429,3.553571,115183600.0,2.369532,0.047368,1

In [64]:
#save important parameters
x1=pd.DataFrame({'Date':date, 'Close':close,'Change':change,'Momentum':momentum})
x1.to_csv("Apple_Modified.csv",index=False,header=True)

In [65]:
df2=pd.read_csv('Amazon.csv')
date=df2['Date']
close=df2['Close']
change=[0]*len(date)
momentum=[0]*len(date)
for i in range(1,len(date)):
    if close[i]>close[i-1]:
        momentum[i]='1'
        change[i]=(close[i]-close[i-1])/close[i-1]
    else:
        momentum[i]='0'
        change[i]=(close[i-1]-close[i])/close[i-1]

x2=pd.DataFrame({'Date':date, 'Close':close,'Change':change,'Momentum':momentum})
x2.to_csv("Amazon_Modified.csv",index=False,header=True)

In [66]:
df3=pd.read_csv('Facebook.csv')
date=df3['Date']
close=df3['Close']
change=[0]*len(date)
momentum=[0]*len(date)
for i in range(1,len(date)):
    if close[i]>close[i-1]:
        momentum[i]='1'
        change[i]=(close[i]-close[i-1])/close[i-1]
    else:
        momentum[i]='0'
        change[i]=(close[i-1]-close[i])/close[i-1]

x3=pd.DataFrame({'Date':date, 'Close':close,'Change':change,'Momentum':momentum})
x3.to_csv("Facebook_Modified.csv",index=False,header=True)

In [67]:
file1 = pd.read_csv("Apple_Modified.CSV")
file2 = pd.read_csv("Amazon_Modified.CSV")
file3 = pd.read_csv("Facebook_Modified.CSV")

In [68]:
date_1 = file1['Date']
Close_1 = file1['Close']
Change_1 = file1['Change']
Momentum_1 = file1['Momentum']

In [69]:
date_2 = file2['Date']
Close_2 = file2['Close']
Change_2 = file2['Change']
Momentum_2 = file2['Momentum']

In [70]:
date_3 = file3['Date']
Close_3 = file3['Close']
Change_3 = file3['Change']
Momentum_3 = file3['Momentum']

In [79]:
n = 5
Close,Change,Stock_Price_Volatility,Stock_Momentum, Index_Volatility,Index_Momentum, Sector_Momentum = [],[],[],[],[],[],[]
for i in range(5,1762):
    #file1 stock process
    file1_close = (Change_1[i]+Change_1[i-1]+Change_1[i-2]+Change_1[i-3]+Change_1[i-4])/5
    file1_Stock_Momentum = (Momentum_1[i] + Momentum_1[i - 1] + Momentum_1[i - 2] + Momentum_1[i - 3] + Momentum_1[i - 4]) / 5
    #file2 stock process
    file2_close = (Change_2[i]+Change_2[i-1]+Change_2[i-2]+Change_2[i-3]+Change_2[i-4])/5
    file2_Stock_Momentum = (Momentum_2[i] + Momentum_2[i - 1] + Momentum_2[i - 2] + Momentum_2[i - 3] + Momentum_2[i - 4]) / 5
    
    Sector_momentum = (file1_Stock_Momentum  + file2_Stock_Momentum) / 2
    
    Close.append(Close_1[i])
    Change.append(Momentum_1[i])
    Stock_Price_Volatility.append(file1_close)
    Stock_Momentum.append(file1_Stock_Momentum)
    Index_Volatility.append(file2_close)
    Index_Momentum.append(file2_Stock_Momentum)
    Sector_Momentum.append(Sector_momentum)

    Close.append(Close_2[i])
    Change.append(Momentum_2[i])
    Stock_Price_Volatility.append(file2_close)
    Stock_Momentum.append(file2_Stock_Momentum)
    Index_Volatility.append(file2_close)
    Index_Momentum.append(file2_Stock_Momentum)
    Sector_Momentum.append(Sector_momentum)

x3 = pd.DataFrame({'Close':Close,'Stock_Price_Volatility':Stock_Price_Volatility,'Stock_Momentum':Stock_Momentum,'Index_Volatility':Index_Volatility,'Index_Momentum':Index_Momentum,'Sector_Momentum':Sector_Momentum,'Change':Change})
x3.to_csv("Input_Dataset.csv",index=False,header=False)

In [80]:
x3.head(10)

,Close,Stock_Price_Volatility,Stock_Momentum,Index_Volatility,Index_Momentum,Sector_Momentum,Change
0,3.491071,0.050088,0.4,0.071679,0.2,0.3,0
1,69.187500,0.071679,0.2,0.071679,0.2,0.3,0
2,3.312500,0.043456,0.4,0.062082,0.2,0.3,0
3,66.750000,0.062082,0.2,0.062082,0.2,0.3,0
4,3.113839,0.052524,0.2,0.041884,0.2,0.2,0
5,63.562500,0.041884,0.2,0.041884,0.2,0.2,0
6,3.455357,0.057152,0.4,0.037350,0.4,0.4,1
7,65.937500,0.037350,0.4,0.037350,0.4,0.4,1
8,3.587054,0.055301,0.4,0.030266,0.2,0.3,1
9,64.250000,0.030266,0.2,0.030266,0.2,0.3,0